<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Js</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <h1>Task Js</h1>
            <form class="row g-3" id='myForm'>
                <div class="col-10">
                  <input type="text" class="form-control" id="addInput">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3" id="addButton">Add</button>
                </div>
              </form>
              <div id="data" class="mt-5">
                <ul class="list-group list-group-numbered">
                  <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    To Do List
                  </button>
                  
                </ul>
              </div>
        </div>
    </div>
  </div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>